.mydiv{
    padding:10%;
    padding-top:5%;
    padding-bottom: 2px;
    padding-top: 80px;
}
@media (max-width:1000px){
    .mydiv{
        padding:15px;
        padding-top:10px;
    }
}
.connav{
    position: fixed;
    width:100vw;
    height:auto;
    z-index: 1000;
}
.pusher{
    width:100vw;
    height:80px;
}
.detail{
    align-items: center;
    text-align: center;
    padding: 100px;
}
.detail h2 {
    padding-top: 30px;
}
@media (max-width:1000px){
    .detail{
        padding:15px;
        padding-top:10px;
    }
}
a{
    padding-bottom:20px;
    margin-left:10px;
}